<!DOCTYPE html>
<html>
  <head>
    <title>Paint.r</title>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <a href="/artists"><h1>Paint.r</h1></a>
    <nav>
      <a href="/works">Works</a>
      <a href="/artists">Artists</a>
    </nav>
    {{{body}}}
  </body>
</html>
