body {
    font-family: 'Helvetica Neue', sans-serif;
    max-width: 50em;
    margin: auto;
    padding: 2em 1em;
}

nav a {
    margin: .5em;
    padding: .5em;
}

nav a:hover {
    color: #0074D9;
}

a,
a:visited {
    text-decoration: none;
    color: #111111;
}

a:hover {
    background-color: #ccc;
}

ul {
    list-style-type: none;
}

li {
    margin: .25em;
}

h1 {
    font-inherit;
    color: #FF4136;
    letter-spacing: -.05em;
    text-decoration: none;
    border-bottom: 1px solid black;
    font-size: 3.2em;
}

h2 > a {
    font-size: .75em;
}

input {
    display: block;
    margin: 5px 0 20px 0;
    padding: 9px;
    border: solid 1px black;
    width: 300px;
    background: whitesmoke;
}

input[type=submit] {
    width: auto;
    padding: 9px 15px;
    background-color: gray;
    border: 0;
    font-size: 14px;
    color: #FFFFFF;
}

input.button-delete {
    background-color: red;
}

.artist-photo {
    width: 400px;
}

.work-photo {
    width: 600px;
}

span.nationality {
    font-size: .5em;
}

